page-login {
    .signin{
        background: url(../assets/imgs/signin.png) no-repeat;
        width: 100%;
        background-size: 100%;
        height: 15%;
        margin-top: 50%;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
}
